.animation-1{
 
  height: 400px;
  width: 480px;
background-color: chocolate;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.hole{
  background-color: rgb(255, 127, 127);
}
.leverage{
  background-color: rgb(255, 127, 127);;
}
.animation-2{
 
  height: 400px;
  width: 480px;
 background-color: 
 #00bd82
 
 ;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.animation-styling-2{
 width: 100%;
 height: 100%;
  position: relative;
  top: 10%;
}
.animation-3{

  height: 400px;
  width: 480px;
background-color: #25272a

;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.animatiomn-2{
 
  height: 400px;
  width: 480px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.only{
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.buy{
  color: black;
  font-size: 27px;
}
.onlyy{
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.bots{
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
}
.future{
  color: aliceblue;
  font-size: 35px;
  font-weight: bold;
}
.trading{
  color: aliceblue;
  font-size: 35px;
  font-weight: bold;
}

.activetab {
  box-shadow: 0px 6px 0px #ff3c00; 
}

@media screen and (max-width:320px){
  .mobile-section{
    display: block;
  }
  .lap-section{
    display: none;
  }
}

 




